body {
	background: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg") no-repeat fixed center;
	background-size: cover;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
}

div {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	margin: 25px auto;
	padding: 20px;
	width: 25%;
}

table {
	font-size: 1.3rem;
	margin: 20px 0;
}

td {
	text-align: left;
	padding-right: 15px;
}